body {
    background-image: url('/images/pattern-background-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    text-align: center;
    font-weight: 500;
    padding-top: 10rem;
    font-family: 'Red Hat Display', sans-serif;
}
p {
    color: hsl(224, 23%, 55%);
}

.blurb {
    
}


.logo{
    display: flex;
    margin-left: .3rem;
    float: left;
}

.plan {
    display: inline-flex;
    flex-direction: column; 
    margin-left: -3rem;  
}

.planPrice {
    margin-top: -.8rem;
}

.contentPlan {
    background-color: hsla(225, 100%, 94%, 0.418);
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: .7rem;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.boldPlan {
    font-weight: 900;
    color: black;
}

.change {
    display: inline-flex;
    margin-right: 1rem;
    font-size: 14px;
    font-weight: 600;
    color: hsl(245, 75%, 52%)

}

.change:hover {
    color: hsl(244, 45%, 65%);
    cursor: pointer;
    text-decoration: none;
}

h2 {
    font-weight: 900; 
    padding-top: 2rem;  
}

.dancing {
    border-radius: 20px 20px 0px 0px;
}

button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    margin-top: .4rem;
    padding: .9rem;
    border-radius: .9rem;
    border: none;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    box-shadow: 0px 5px 30px -10px hsl(245, 75%, 52%)
}

button:hover {
    background-color: hsl(245, 86%, 69%);
    cursor: pointer;
}

.box {
    /*border: 3px solid blue;*/
    background-color: hsl(0, 0%, 100%);
    height: 20rem;
    width: 20rem;
    padding: 1rem 4rem; 
    padding-bottom: 7rem;
    margin: auto;
    margin-top: -1.5rem;
    border-radius: 0px 0px 20px 20px ;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.2)
}
.paymentBox {
    display: flex;
    flex-direction: column;
}
.cancel {
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: hsl(224, 23%, 55%);
}

.cancel:hover {
    color: hsl(217, 33%, 17%);
    cursor: pointer;
}

.attribution {
    margin-top: .3rem;
}